@charset "utf-8";

.center.jumbotron {
  background: url("/images/tennis-toppage.jpg") center center no-repeat;
}

 h1.toppage-name {
  color: #FFF;
}

.logined_cover {
  /*opacity:				0.5;*/
  background-image: url("/images/tennis-court.jpg");
}